#gear_logo {
  font-size: 125px;
  margin-top: 10px;
  margin-left: 30px;
  .icon-cogs {
    color: #333;
    text-decoration: none;
  }
}

.meter-10 {
  background: url(/images/sprite.png) no-repeat;
  background-size: 230px 130px;
  height: 22px;
  width: 330px;
  background-position: 0px -70px;
}

.meter-9 {
  background: url(/images/sprite.png) no-repeat;
  background-size: 230px 130px;
  height: 22px;
  width: 207px;
  background-position: 0px -70px;
}

.meter-8 {
  background: url(/images/sprite.png) no-repeat;
  background-size: 230px 130px;
  height: 22px;
  width: 184px;
  background-position: 0px -70px;
}

.meter-7 {
  background: url(/images/sprite.png) no-repeat;
  background-size: 230px 130px;
  height: 22px;
  width: 161px;
  background-position: 0px -70px;
}

.meter-6 {
  background: url(/images/sprite.png) no-repeat;
  background-size: 230px 130px;
  height: 22px;
  width: 138px;
  background-position: 0px -70px;
}

.meter-5 {
  background: url(/images/sprite.png) no-repeat;
  background-size: 230px 130px;
  height: 22px;
  width: 115px;
  background-position: 0px -70px;
}

.meter-4 {
  background: url(/images/sprite.png) no-repeat;
  background-size: 230px 130px;
  height: 22px;
  width: 92px;
  background-position: 0px -70px;
}

.meter-3 {
  background: url(/images/sprite.png) no-repeat;
  background-size: 230px 130px;
  height: 22px;
  width: 69px;
  background-position: 0px -70px;
}

.meter-2 {
  background: url(/images/sprite.png) no-repeat;
  background-size: 230px 130px;
  height: 22px;
  width: 46px;
  background-position: 0px -70px;
}

.meter-1 {
  background: url(/images/sprite.png) no-repeat;
  background-size: 230px 130px;
  height: 22px;
  width: 23px;
  background-position: 0px -70px;
}



.curriculum-vitae {  

  .name  {

    font-size: 60px;
    
    .first {
      font-weight: normal;
    }

    .last {
      font-weight: bold;
    }

  }

  .subtitle {

    font-weight: 300;
    font-size: 40px;
    line-height: 23px;
    color: #585C60;
    -webkit-font-smoothing: antialiased;

  }


  h3 {
    text-transform: uppercase;
    font-size: 20px;
    border-bottom: 4px solid #7fc3ff;    
  }

  #contact {

    address {
      margin-bottom: 4px;
    }

    .row-fluid {
      line-height: 10px;
      margin-bottom: 4px;

      .info {
        margin-top: 8px;
      }
    }

  }

  #experience {    
    h4 {
      font-size: 16px;
      margin: 2px;
    }

    .divider {
      margin-top: 10px;
      margin-bottom: 10px;
      height: 1px;
      border-bottom: 1px solid #7fc3ff;
    }

    .company {
      line-height: 23px;
      font-weight: bold;
      color: #585C60;
    }

    dl {
      margin-top: 20px;
    }

    .dl-horizontal dt {
      width: 150px;
    }

    dt {
      text-align: left;       
    }

    dd {
      margin-left: 25px;
      margin-bottom: 4px;
    }

    ul {
      margin-top: 10px;
    }
    
    li {
      margin-bottom: 4px;
    }
  }

}